{% extends "promises/base.html" %}

{% block content %}
<!-- <h1>Как бросить курить</h1> -->
<h2>1. Поймите почему вы хотите бросить курить</h2>
Чтобы сохранить мотивацию, вам нужна веская личная причина бросить курить. Это может быть:

<li>снижение риска заболеть раком легких, сердечными заболеваниями или другими заболеваниями (например, импотенцией)</li>
<li>защита вашей семьи от пассивного курения</li>
<li>желание выглядеть и чувствовать себя моложе, улучшить качество кожи и избавиться от морщин</li>
<li>экономия денег</li>
Выберите причину, которая достаточно сильна, чтобы перевесить острое желание курить в первые три дня воздержания от курения.

<h2>2. Подготовьтесь</h2>
Бросить курит - сложнее, чем просто выбросить сигареты. Курение – это зависимость. Мозг подсел на никотин.

Без подготовки вы рискуете столкнуться с резким синдромом отмены. Заранее заручитесь поддержкой. Спросите своего врача обо всех методах, которые помогут, такие как курсы и приложения для отказа от курения, консультации, лекарства и гипноз. Вы будете готовы к тому дню, когда решите бросить курить.

<h2>3. Подумайте о никотинзаместительной терапии</h2>
Когда вы бросите курить, отказ от никотина может вызвать у вас головные боли, повлиять на ваше настроение или лишить вас энергии (примерно на три первых дня). Тяга к «всего одной затяжке» сильна. Никотинзаместительная терапия может обуздать эти позывы. Исследования показывают, что никотиновые жевательные резинки, леденцы и пластыри повышают ваши шансы на успех, если вы также участвуете в программе отказа от курения.

<h2>4. Узнайте о рецептурных таблетках</h2>
Лекарства могут обуздать тягу к курению, а также сделать курение менее приятным, если вы возьмете в руки сигарету. Другие препараты могут облегчить симптомы отмены, такие как депрессия или проблемы с концентрацией внимания.

<h2>5. Положитесь на своих близких</h2>
Расскажите своим друзьям, семье и другим близким вам людям, что вы пытаетесь бросить курить. Они могут побудить вас продолжать, особенно когда вы испытываете искушение закурить. Вы также можете присоединиться к группе поддержки или поговорить с консультантом. Поведенческая терапия — это тип консультирования, который помогает вам определить стратегии отказа от курения и придерживаться их. Даже несколько сеансов могут помочь.

<h2>6. Дайте себе отдохнуть</h2>
Одна из причин, по которой люди курят, заключается в том, что никотин помогает им расслабиться. Как только вы бросите курить, вам понадобятся новые способы расслабиться. Есть много вариантов. Вы можете заниматься спортом, чтобы выпустить пар, настроиться на любимую музыку, пообщаться с друзьями, побаловать себя массажем или найти время для хобби. Старайтесь избегать стрессовых ситуаций в течение первых нескольких недель после отказа от курения.

<h2>7. Избегайте алкоголя и других триггеров</h2>
Когда вы выпиваете, вам труднее придерживаться цели отказа от курения. Поэтому постарайтесь ограничить употребление алкоголя в первые три дня, когда бросаете курить. Точно так же, если вы часто курите, когда пьете кофе, переключитесь на чай на несколько недель. Если вы обычно курите после еды, найдите себе другое занятие, например, почистите зубы, прогуляйтесь, напишите сообщение другу или пожуйте жвачку.

<h2>8. Подготовьте окружение</h2>
Выкурив последнюю сигарету, выбросьте все пепельницы и зажигалки. Постирайте любую одежду, которая пахнет дымом, и чистите ковры, драпировки и обивку. Используйте освежители воздуха, чтобы избавиться от этого знакомого запаха. Если вы курили в машине, вычистите и ее. Вы не хотите видеть или чувствовать запах чего-либо, что напоминает вам о курении.

<h2>9. Пробуйте снова и снова</h2>
Многие люди пробуют несколько раз, прежде чем навсегда отказаться от сигарет. Если у вас не получилось бросить курить в очередной раз - не расстраивайтесь. Вместо этого подумайте о том, что привело к вашему рецидиву, например о ваших эмоциях или обстановке, в которой вы находились. Используйте это как возможность усилить свое стремление бросить курить. После того, как вы приняли решение попробовать еще раз, установите дату в течение следующей недели. И помните - даже один день без сигарет помогает вашему здоровью.

<h2>10. Двигайтесь</h2>
Активный образ жизни может обуздать тягу к никотину и облегчить некоторые симптомы отмены. Если вы хотите дотянуться до сигареты, вместо этого наденьте роликовые коньки или кроссовки. Даже легкие упражнения помогают, например, прогуляйтесь с собакой или сходите в магазин.

<h2>11. Ешьте больше фруктов и овощей</h2>
Не пытайтесь сидеть на диете, пока отказываетесь от сигарет. Слишком много лишений может легко исчерпать фиксированный запас силы воли. Вместо этого придерживайтесь простых вещей и старайтесь есть больше фруктов, овощей, цельнозерновых продуктов и постного белка. Они полезны для всего вашего тела.

<h2>12. Выберите награду</h2>
В дополнение ко всем преимуществам для здоровья, одним из преимуществ отказа от сигарет является возможность сэкономить все деньги. Есть онлайн-калькуляторы, которые подсчитывают, насколько вы станете богаче. Наградите себя, потратив часть денег на что-нибудь веселое.

<h2>13. Помните, что время на вашей стороне</h2>
Как только вы бросите курить, вы начнете получать немедленную пользу для здоровья. Уже через 20 минут ваш сердечный ритм вернется к норме. В течение дня уровень угарного газа в вашей крови также вернется к норме. Через 2-3 недели вы начнете снижать шансы сердечного приступа. В долгосрочной перспективе вы также снизите вероятность заболеть раком легких и другими видами рака.

<h2>14. (*) Попробуйте новые способы бросить курить</h2>
Старый проверенный способ в новом исполнении предлагает сервис zusagy.com. Наверняка вам приходила идея бросить курить на спор. Существует более удобный и интерактивный вариант.

Вы резервируете 5000 рублей у себя на счету и отправляете своим друзьям специальную ссылку — теперь они могут сообщить, что вы курите.

<li>Если вас поймают за курением - вы обещаете пожертвовать деньги на благотворительность. Сервис проверит, что вы сдержали обещание.</li>
<li>Если <a style="color:white" href="zusagy.com">zusagy.com</a> не получает отчетов в течение 100 дней - вы справились! Можно потратить резерв на приятное вознаграждение.</li>
(*) Более половины людей, которые поспорили на деньги, бросили курить как минимум на шесть месяцев (по данным журнала New England Journal of Medicine).

<div class="text-center">
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Попробовать!</a>
 </div>
{% endblock %}

