{% extends "promises/base.html" %}

{% block content %}
<h1>Allright, {{promise.name}}, you put $100 on the line.</h1>
<a href="{% url 'report' promise.short_link %}" class="lead text-center" id="link-for-friends">{% url 'report' promise.short_link %}</a>

<ol class="list-group-numbered">
  <li class="list-group-item">Here is a link for your friends. Send it also to your family and your smoking buddies! </li>
  <li class="list-group-item">Stop smoking now. Like seriously, now. Not tomorrow.</li>
  <li class="list-group-item">If you will be caught smoking - you’ll have to donate to charity and send us proofs.</li>
</ol>
</p>

<p class="lead text-center">Good luck!</p>

<div class="hero">
  <img class="hero-img" src="https://d2pas86kykpvmq.cloudfront.net/images/humans-3.0/pose_50.png">
</div>
{% endblock %}