{% extends "promises/base.html" %}

{% block content %}
<h1>How it works? <br> Its simple!</h1>

<p class="lead">
  You reserve $100 and send your friends a special link - now they can report that you are smoking.

  <li>If they catch you smoking - you lose your money. They go to charity.</li>

  <li>If we receive no reports for 100 days - you get your money back.</li>

  <br>(*) More than half of the people who had money on the line stopped smoking for at least six months (reported by New England Journal of Medicine)
</p>

<div class="text-center">
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Let's try!</a>
</div>

<div class="hero">
	<img class="hero-img" src="https://d2pas86kykpvmq.cloudfront.net/images/humans-3.0/pose_50.png">
</div>


{% endblock %}