{% extends "promises/base.html" %}

{% block content %}
<h1 id='catch-phrase'>Новый способ бросить курить</h1>

<p class="">
  Старый проверенный способ в новом исполнении. Вы резервируете 5000 рублей у себя на счету и отправляете своим друзьям специальную ссылку — теперь они могут сообщить, что вы курите.

  <li>Если вас поймают за курением - вы должны пожертвовать деньги на благотворительность.</li>

  <li>Если мы не получаем отчетов в течение 100 дней - вы справились!</li>

  <br>(*) Более половины людей, которые поспорили на деньги, бросили курить как минимум на шесть месяцев (по данным New England Journal of Medicine).
</p>

<div class="text-center">
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Попробовать!</a>
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Напомнить позже</a>
</div>

<div class="hero">
	<img class="hero-img" src="https://d2pas86kykpvmq.cloudfront.net/images/humans-3.0/pose_50.png">
</div>
{% endblock %}