{% extends "promises/base.html" %}

{% block content %}
<!-- <h1 id='catch-phrase'>Новый способ бросить курить</h1> -->

<h1>Привет!</h1>
<p> Вы пришли на этот сайт, чтобы узнать как бросить курить или помочь бросить курить близкому человеку. Мы помогли бросить уже более чем тысяче людей и хотим помочь вам. Мы проанализировали результаты мета-исследований со всего мира и готовы поделиться с вами результатами.</p>

<h1>Бросить курить - сложно, но возможно.</h1>
<p> Мы сделали этот проект после того как сами бросили курить (стаж курения - более десяти лет)</p>

<h1>Проблема страшная.</h1>
<p>Вред курения состоит в том, что оно вызывает три основных заболевания: рак легких, хронический бронхит и коронарную болезнь. Уже давно доказано, что табак является причиной смертности от рака легкого в 90 % всех случаев, от бронхита и эмфиземы в 75 % и от болезни сердца в примерно 25 % всех случаев.</p>

<h1>Есть разные подходы к бросанию курить</h1>
<p>...но они практически не работают. Силы воли не хватает, пластыри не работают, Табекс снижает желание курить, но чаще всего соблазн выкурить сигарету перевешивает.</p>

<h1>Есть еще одно решение!</h1>
<p> Тоже давно людям известное. В недавней статье в журнале New England Journal of Medicine ученые показали, что более половины людей, которые поспорили на деньги, бросили курить как минимум на шесть месяцев.</p>

<p>Мы сделали этот сайт чтобы помочь людям поспорить с друзьями на то, что они бросят курить. 

<h1>Механика простая.</h1>
Вы откладываете любую чувствительную для вас сумму (например, 5 тысяч рублей) и отправляете друзьям специальную ссылку — теперь они могут сообщить нам, что вы курите.</p>

<li>Если вас поймают за курением - вы обещаете пожертвовать деньги на благотворительность. Мы оповестим ваших друзей, если вы откажетесь это сделать.</li>
<li>Если мы не получаем отчетов о курении в течение 100 дней - поздравляем, вы можете купить себе приятный подарок и передать эстефету следующему курильщику!</li>

<p>Мы верим, что у вас получится.</p>
<p>Попробуйте сами и посоветуйте этот способ друзьям.</p>

<div class="text-center">
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Попробовать!</a>
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Напомнить позже</a>
</div>

<!-- <div class="hero">
	<img class="hero-img" src="https://d2pas86kykpvmq.cloudfront.net/images/humans-3.0/pose_50.png">
</div> -->
{% endblock %}