{% extends "promises/base.html" %}

{% block content %}

<h1>Есть разные способы бросить курить</h1>
<p>...но их эффективность достаточно мала. Силы воли не хватает, пластыри снижают желание курить, но чаще всего соблазн выкурить сигарету перевешивает.</p>

<table class="table" style="color: white">
  <tr>
    <th>Способ</th>
    <th>Шанс бросить курить</th> 
  </tr>
  <tr>
    <td>Плацебо</td>
    <td>8 %</td> 
  </tr>
   <tr>
    <td>Гомеопатия (для верящих в гомеопатию)</td>
    <td>8 %</td> 
  </tr>
  <tr>
    <td>Никотиновые пластыри</td>
    <td>14 %</td> 
  </tr>
  <tr>
    <td>Никотиновая жвачка</td>
    <td>14 %</td> 
  </tr>
  <tr>
    <td>Никотиновая жвачка + пластыри</td>
    <td>17 %</td> 
  </tr>
  <tr>
    <td>Никотиновый спрей</td>
    <td>18 %</td> 
  </tr>
    <tr>
    <td>Метод Аллена Карра</td>
    <td>19 %</td> 
  </tr>
  <tr>
    <td>Группы поддержки</td>
    <td>24 %</td> 
  </tr>
</table>
<p>Источники:
  <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/1471-2458-9-433">[1]</a>,
  <a href="https://evidence.nihr.ac.uk/alert/using-both-nicotine-patches-and-gum-together-improves-the-chances-of-quitting-smoking/">[2]</a>,
  <a href="https://www.cambridge.org/core/journals/behaviour-change/article/abs/group-support-for-smoking-cessation-importance-of-the-smokers-choice-for-better-outcomes/EB8AEA19CCE7675036BE5E8CF97E820F">[3]</a>,
  <a href="https://www.researchgate.net/publication/338765920_Comparison_of_Allen_Carr's_Easyway_programme_with_a_specialist_behavioural_and_pharmacological_smoking_cessation_support_service_a_randomized_controlled_trial">[4]</a>
</p>
{% endblock %}