{% extends "promises/base.html" %}

{% block content %}
 
<h1>Есть еще одно решение!</h1>
<p> Тоже давно людям известное. В недавней статье в журнале New England Journal of Medicine ученые показали, что более половины людей (52%), которые поспорили на деньги, бросили курить как минимум на шесть месяцев.</p>

<p>Мы сделали этот сайт чтобы помочь людям поспорить с друзьями на то, что они бросят курить. 

<h1>Как это работает?</h1>
<p>
  <ol class="list-group-numbered">
    <li class="list-group-item">Отложите любую чувствительную для вас сумму (например, 5 тысяч рублей)</li>
    <li class="list-group-item">Создайте на нашем сайте специальную ссылку для ваших друзей. Когда будете готовы - отправьте ее друзьям. С помощью нее они могут сообщить нам, что вы курите.</li>
    <li class="list-group-item">Если вас поймают за курением - вы обещаете пожертвовать деньги на благотворительность. Мы оповестим ваших друзей, если вы откажетесь это сделать.</li>
    <li class="list-group-item">Пользуйтесь <a href="{% url 'advices' %}">классическими советами</a> по бросанию курить</li>
  </ol>
</p>
<p>Пример ссылки: <a href="https://zusagy.com/r/AT3TY3">https://zusagy.com/r/AT3TY3</a></p>
<p>Попробуйте сами и посоветуйте этот способ друзьям. Это бесплатно и эффективно.</p>

<div class="text-center">
  <a href="{% url 'create' %}" class="btn btn-primary btn-lg px-4 border">Попробовать!</a>
  <a href="{% url 'create' %}">Напомнить</a>
</div>

<h1>Есть сомнения?</h1>
<h2>1. За мной же не всегда следят друзья...</h2>
<p>Да, у вас остается возможность курить в тайне от друзей. Но это лучше, чем курить целыми днями. Каждая невыкуренная сигарета - путь к тому, чтобы бросить окончательно. Наш сервис помогает избавиться от социального курения - одного из компонентов зависимости. Плюс у вас всегда есть возможность быть честным и заявить о том, что вы сорвались самостоятельно.</p>

<h2>2. Меня не мотивирует потеря денег</h2>
<p>А вы попробуйте) Если вы снова закурите и отправите деньги на благотворительность - попробуйте еще раз на следующий день.</p>

<h2>3. Я вам не доверяю, не хочу отправлять вам деньги</h2>
<p>Мы не берем деньги. Все средства остаются у вас на счету.</p>

<h2>4. В чем тогда ваша выгода?</h2>
<p>Мы бросили курить и договорились тратить по 5000 рублей в месяц на поддержку этого сайта. Раньше мы тратили эти деньги на сигареты. Поддержка этого проекта помогает нам не закурить снова. Попробуйте)</p>

<h2>5. Хочу бросить по-старинке</h2>
<p>Попробуйте. Если не получится - приходите к нам. Прочитайте список традиционных советов по бросанию курить (<a href="{% url 'advices' %}">советы</a>) и запишите название этого сайта.</p>
{% endblock %}