{% extends "promises/base.html" %}

{% block content %}

<h1> Что происходит при отказе от курения?</h1>
<p>Вред курения состоит в том, что оно вызывает три основных заболевания: рак легких, хронический бронхит и коронарную болезнь. Уже давно доказано, что табак является причиной смертности от рака легкого в 90 % всех случаев, от бронхита и эмфиземы в 75 % и от болезни сердца в примерно 25 % всех случаев. Курение сокращает продолжительность жизни на 2 - 3 года и существенно приближает возраст первой серьезной болезни.</p>


<table class="table" style="color: white">
    <tr>
    <th>Время</th>
    <th>Эффект</th> 
  </tr>
  <tr>
    <td>Несколько минут</td>
    <td>Уменьшается частота сердечных сокращений.</td> 
  </tr>
  <tr>
    <td>24 часа</td>
    <td>Содержание никотина в крови падает до нуля.</td> 
  </tr>
  <tr>
    <td>Несколько дней</td>
    <td>Содержание угарного газа в крови снижается до уровня некурящего.</td> 
  </tr>
  <tr>
    <td>1-12 месяцев</td>
    <td>Уменьшаются кашель и одышка.</td> 
  </tr>
  <tr>
    <td>1-2 года</td>
    <td>Снижается риск инфаркта миокарда.</td> 
  </tr>
  <tr>
    <td>5-10 лет</td>
    <td>Дополнительный риск развития рака ротовой полости, горла и голосового аппарата уменьшается вполовину. Снижается риск инсульта.</td> 
  </tr>
  <tr>
    <td>10-15 лет</td>
    <td>Наполовину снижается дополнительный риск рака легких. Уменьшается риск развития рака мочевого пузыря, пищевода и почек. Риск заболеваний сердца приближается к риску некурящего.</td> 
  </tr>
</table>

{% endblock %}