{% extends "promises/base.html" %}

{% block content %}
<h2 id='catch-phrase'>Oh, okay! Please upload a photo proof of {{promise.name}} smoking!</h2>

<div class="hero-main-reporter">
  <img class="hero-main-img" src="https://d2pas86kykpvmq.cloudfront.net/images/humans-3.0/pose_31-p-800.png">
</div>

<div class="text-center" id='report-upload'>
  <form id='report-upload' action="{% url 'report_upload' promise.short_link %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.docfile.label_tag }} {{ form.docfile.help_text }}
      {{ form.docfile.errors }}
      {{ form.docfile }}
      <input type="submit" value="Upload" class="btn btn-primary btn-lg px-4 border"/>
  </form>
  </div>
{% endblock %}
