{% extends "promises/base.html" %}

{% block content %}
<h2 id='catch-phrase'>{{promise.name}} asks you to report if you catch them smoking. He will lose $100  </h2>
<h2 class="text-center">Day 1 of 100</h2>

<div class="hero-main-reporter">
  <img class="hero-main-img" src="https://d2pas86kykpvmq.cloudfront.net/images/humans-3.0/pose_31-p-800.png">
</div>

<div class="text-center" id='how-it-works-button'>
  <a href="#" class="btn btn-primary btn-lg px-4 border">Report</a>
  <div class="small"><a href="{% url 'how' %}" class="link-light">How it works</a><div/>
</div>
{% endblock %}
